@import "tailwindcss";


@keyframes gradientMove {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #75B657, #d0f2c7, #75B657);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}



