@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html {
    scroll-behavior: smooth;
}
html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

ion-modal {
  --height: 92svh;
  --width: 100%;
  align-items: end;
}

.no-scroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.nlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1ff;
}

.toplist ul li {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.toplist ul li.active {
    background-color: #4caf50;
    color: white;
}

.toplist ul li:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* AntD  */

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #00a551; /* Green for completed steps */
}

/* Date Picker */
.custom-datepicker .ant-picker-ok button {
  background-color: #75B657 !important; /* Your desired background color */
  color: white !important; /* Text color */
  border: none !important; /* Remove border */
}

.custom-datepicker .ant-picker-ok button:hover {
  background-color: #5a9148 !important; /* Your desired hover background color */
}

/* Map Popup */
/* styles.css */
.custom-popup {
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 100%; /* Ensure the popup takes the full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    overflow: hidden; /* Ensure the content does not overflow */
    z-index: 50;
  }
  /* You can also add any other custom styles you want to apply to the popup */
  
/* Animate Bounce */
/* styles.css */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }


  /* AntD Customs */
  .ant-steps-horizontal .ant-steps-item {
    display: flex;
    align-items: center;
  }
  
  .ant-steps-item-finish .ant-steps-item-icon {
    background-color: green;
    border-color: green;
  }
  
  .ant-steps-item-finish .ant-steps-item-title {
    color: green;
  }
  
  .ant-steps-item-process .ant-steps-item-icon {
    background-color: blue;
    border-color: blue;
  }
  
  .ant-steps-item-process .ant-steps-item-title {
    color: blue;
  }
  /* custom-antd.css */
.ant-picker-time-panel .ant-picker-ok {
  background-color: #75B657; /* Use your custom grean color */
  border-color: #75B657;
  color: white; /* Optional: set text color */
}


/*  */

/* App.css */
#app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  flex-grow: 1;
  overflow: hidden; /* Prevents overflow issues */
}

.ion-page {
  height: 100%; /* Ensure full height for IonPage */
}

.tab-bar {
  height: 10svh; /* Assuming TabBar takes 10svh */
}

