@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
html {
    scroll-behavior: smooth;
}
html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.no-scroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.nlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1ff;
}

.toplist ul li {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

.toplist ul li.active {
    background-color: #4caf50;
    color: white;
}

.toplist ul li:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Map Popup */
/* styles.css */
.custom-popup {
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 100%; /* Ensure the popup takes the full width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    overflow: hidden; /* Ensure the content does not overflow */
    z-index: 50;
  }
  /* You can also add any other custom styles you want to apply to the popup */
  
/* Animate Bounce */
/* styles.css */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }

